In [36]:
dataset=[['1','2','4'],
         ['2','3','5'],
         ['1','2','3'],
         ['2','5'],
         ['5','6','7'],
         ['4','6','7'],
         ['1','5','6'],
         ['2','4','6'],
         ['1','5','7'],
         ['1','6']
        ]

In [37]:
from mlxtend.preprocessing import TransactionEncoder

In [38]:
encoder=TransactionEncoder().fit(dataset)

In [39]:
onehot=encoder.transform(dataset)

In [40]:
import pandas as pd

In [41]:
onehot=pd.DataFrame(onehot,columns=encoder.columns_)

In [42]:
onehot

       1      2      3      4      5      6      7
0   True   True  False   True  False  False  False
1  False   True   True  False   True  False  False
2   True   True   True  False  False  False  False
3  False   True  False  False   True  False  False
4  False  False  False  False   True   True   True
5  False  False  False   True  False   True   True
6   True  False  False  False   True   True  False
7  False   True  False   True  False   True  False
8   True  False  False  False   True  False   True
9   True  False  False  False  False   True  False

In [43]:
from mlxtend.frequent_patterns import apriori

In [44]:
frequent_itemset=apriori(onehot,min_support=0.00000001,max_len=3,use_colnames=True)

In [45]:
print(frequent_itemset)

    support   itemsets
0       0.5        (1)
1       0.5        (2)
2       0.2        (3)
3       0.3        (4)
4       0.5        (5)
5       0.5        (6)
6       0.3        (7)
7       0.2     (2, 1)
8       0.1     (3, 1)
9       0.1     (4, 1)
10      0.2     (1, 5)
11      0.2     (1, 6)
12      0.1     (7, 1)
13      0.2     (2, 3)
14      0.2     (4, 2)
15      0.2     (2, 5)
16      0.1     (2, 6)
17      0.1     (3, 5)
18      0.2     (4, 6)
19      0.1     (4, 7)
20      0.2     (6, 5)
21      0.2     (7, 5)
22      0.2     (7, 6)
23      0.1  (2, 3, 1)
24      0.1  (4, 2, 1)
25      0.1  (6, 1, 5)
26      0.1  (7, 1, 5)
27      0.1  (2, 3, 5)
28      0.1  (4, 2, 6)
29      0.1  (4, 7, 6)
30      0.1  (7, 6, 5)

In [46]:
frequent_itemset=apriori(onehot,min_support=0.001,max_len=2,use_colnames=True)

In [47]:
print(frequent_itemset)

    support itemsets
0       0.5      (1)
1       0.5      (2)
2       0.2      (3)
3       0.3      (4)
4       0.5      (5)
5       0.5      (6)
6       0.3      (7)
7       0.2   (2, 1)
8       0.1   (3, 1)
9       0.1   (4, 1)
10      0.2   (1, 5)
11      0.2   (1, 6)
12      0.1   (7, 1)
13      0.2   (2, 3)
14      0.2   (4, 2)
15      0.2   (2, 5)
16      0.1   (2, 6)
17      0.1   (3, 5)
18      0.2   (4, 6)
19      0.1   (4, 7)
20      0.2   (6, 5)
21      0.2   (7, 5)
22      0.2   (7, 6)